.preview-container {
  .item-preview {
    width: 100%;
    color: rgb(143, 134, 134);
    margin-top: 10px;
    padding: 0px;
    height: 40px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2.5fr 0.5fr 1fr;
    align-items: center;

    .itemIdx {
      position: relative;
      left: 15px;
      color: rgb(232, 147, 43);
      font-weight: 900;
      font-size: 20px;
      .devider {
        width: 40px;
        height: 1px;
        rotate: -90deg;
        margin: 0;
        transform: translate(9px, 8px);
        border: none;
        background-color: rgb(143, 134, 134);
      }
    }
    .itemBtn {
      background-color: rgba(240, 248, 255, 0);
      border: none;
      color: gray;
      font-size: 20px;
      margin: 0;
      line-height: 40px;
      width: 20px;
      height: 40px;
    }
  }
}

.approved-line {
  background-color: red;
  margin: 0;
  height: 2px;
  width: 50%;
  transform: translate(0%, -20px);
  position: absolute;
  z-index: 10;
  left: 25%;
}

.preview-container :hover {
  cursor: pointer;
  background-color: rgb(232, 229, 224);
}
